body {
  background: #000;
  font-family: verdana;
}

.content {
  background: #FFF;
  margin: 50px auto;
  width: 50%;
}

header {
  padding: 10px;
}
header h1 {
  text-align: center;
}


.calculate {
  padding: 10px;
  text-align: center;
}

#msg {
  color: red;
  display: block;
  font-style: italic;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.error {
  border-color: red;
  color: red;
}
